{%  extends 'layout.html' %}

{% block content %}
<!-- Banner -->
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <div class="row">
                <div class="col-7 col-12-medium">
                    <h2>영도구청 일자리 분석</h2>
                    <p>YeangDo Job Data Analysis</p>
                </div>
                <div class="col-5 col-12-medium">
                    <ul>
                        <li><a href={% url 'analysis:show_plot' %} class="button large icon fa-arrow-circle-right">ANALYSIS</a></li>
                        <li><a href={% url 'analysis:submit_data' %} class="button alt large icon fa-question-circle">SUBMITION</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!-- Features -->
    <div id="features-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-medium">

                    <!-- Box -->
                        <section class="box feature">
                            <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Put something here</h2>
                                    <p>Maybe here as well I think</p>
                                </header>
                                <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                            </div>
                        </section>

                </div>
                <div class="col-4 col-12-medium">

                    <!-- Box -->
                        <section class="box feature">
                            <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>An interesting title</h2>
                                    <p>This is also an interesting subtitle</p>
                                </header>
                                <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                            </div>
                        </section>

                </div>
                <div class="col-4 col-12-medium">

                    <!-- Box -->
                        <section class="box feature">
                            <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Oh, and finally ...</h2>
                                    <p>Here's another intriguing subtitle</p>
                                </header>
                                <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                            </div>
                        </section>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
