{%  extends 'layout.html' %}
{% load static %}


{% block head %}
    <script type="text/javascript" src={% static "analysis/js/charts.js" %}></script>
    <script type="text/javascript" src={% static "analysis/js/buttons.js" %}></script>
    <script type="text/javascript" src={% static "api/js/ajax.js" %}></script>
{% endblock %}

{% block content %}
    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <div class="row gtr-200">
                <div class="col-4 col-12-medium">

                    <!-- Sidebar -->
                        <div id="sidebar">
                            <section class="widget thumbnails">
                                <p><a href="#" class="button icon fa-area-chart" id="chart1">Chart1</a></p>
                                <p><a href="#" class="button icon fa-area-chart" id="chart2">Chart2</a></p>
                                <p><a href="#" class="button icon fa-area-chart" id="chart3">Chart3</a></p>
                                <p><a href="#" class="button icon fa-area-chart" id="chart4">Chart4</a></p>
                            </section>
                        </div>

                </div>
                <div class="col-8 col-12-medium imp-medium">

                    <!-- Content -->
                    <div id="chart_div" style="width: 1200px; height: 600px;"></div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
