{%  extends 'layout.html' %}
{% load static %}

{% block content %}
    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <div class="row gtr-200">
                <div class="col-4 col-12-medium">

                    <!-- Sidebar -->
                        <div id="sidebar">
                            <section class="widget thumbnails">
                                <div class="grid">
                                    <div class="row gtr-uniform">
                                        <p><a href="#" class="button icon fa-area-chart" id="chart1">Chart_One</a></p>
                                        <p><a href="#" class="button icon fa-area-chart" id="chart2">Chart_Two</a></p>
                                        <p><a href="#" class="button icon fa-area-chart" id="chart3">Chart_Tree</a></p>
                                        <p><a href="#" class="button icon fa-area-chart" id="chart4">Chart_Four</a></p>
                                    </div>
                                </div>
                            </section>
                        </div>

                </div>
                <div class="col-8 col-12-medium imp-medium">

                    <!-- Content -->
                    <div id="chart_div" style="width: 900px; height: 500px;"></div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
